*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: "open-sans",sans-serif;
    font-size: 14px;
}

li{
    list-style-type: none;
}

.container{
    min-width: 80% !important;
}

body a{
    text-decoration: none !important;
    outline: none;
    color: whitesmoke;
}

.search{
    color: #eee;
    padding: 15px 45px 15px 20px;
    border: 1px solid #444;
    height: 50px;
    width: 100%;
    background: #333;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    transition: .3s;
}

#search_form{
    display: flex;
    position: relative;
}

body{
    background: #222222;
    color: whitesmoke;
}

.block_header{
    background: #0f6674;
    text-align: center;
}

.block_header .label_block{
    font-size: 20px;
    text-transform: uppercase;
}

.films-list{
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prev_block{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #0f6674;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.movie-item{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background: #2b3137;
    justify-content: space-around;
}

.admin{
    margin-top: 30px;
}

.btn-cntl{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.add_movie_form.open{
    display: block;
}

.import_movie_form.open{
    display: block;
}

.add_movie_form{
    display: none;
}

.import_movie_form{
    display: none;
}

.successBlock{
    display: none;
    text-align: center;
    background-color: darkgreen;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}

#errorBlock{
    display: none;
    text-align: center;
    background-color: darkred;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}

.pagination{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.pagination a{
    min-width: 30px;
    font-size: inherit;
    display: inline-block;
    margin-left: 4px;
    list-style-type: none;
    color: #eee;
    text-decoration: none;
    padding: 5px 10px;
}

.pagination a:hover{
    background: #ff6666;
    color: white;
}

.pagination li.active a{
    background: #ff6666;
    color: white;
}

.next{
    font-weight: 700;
}